.espace-membre {
  width: 100%;
  min-height: 100vh;

  .block-title h3{
    font-weight: bold;
  }

  .switch-notif {
    width: 100px;
  }

  button {
    height: 40px;
  }

  input:checked {
    & ~ label {
      &::before {
        background-color: $prim-bg !important;
        border-color: $prim-bg !important;
      }
    }
  }

  input:not(:disabled):active {
    & ~ label {
      &::before {
        background-color: rgb(255, 125, 127) !important;
        border-color:  rgb(255, 125, 127) !important;
      }
    }
  }

  input:focus {
    & ~ label {
      &::before {
        box-shadow: 0 0 0 0.2rem rgba(255, 78, 80, 0.25) !important;
      }
    }
  }
  
}