body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 8rem; 
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1.5rem ;
}

#root{
  display: flex;
  align-items: stretch;
}

$prim-bg: rgba(255,51,105,1);
$prim-dark-bg: rgb(253, 18, 81);
$prim-disabled: rgb(168, 60, 89);
$sec-bg: rgba(255,122,54,1);
$ter-bg: rgba(255,219,28,1);

$alert-color: rgb(255, 0, 68);

$block-bg: rgba(199, 199, 199, 0.3);

.bg-bagad-heol {
  background: rgb(255,51,105);
  background: linear-gradient(90deg, rgba(255,51,105,1) 22%, rgba(255,122,54,1) 57%, rgba(255,219,28,1) 100%);
}

.btn-bagad-heol {
  background: $prim-bg;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 5px;
  border: 2px solid $prim-dark-bg;
  transition: all 0.3s;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  // width: 30%;
  height: 40px;
  // line-height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: white;
    &:not([disabled]) {
      color: $prim-bg;
    }
  }

  &:disabled {
    border: 2px solid $prim-disabled;
    background: $prim-disabled;
  }

  &:focus {
    outline: none;
  }
}

.alert-input {
  border: 1px solid $alert-color;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.alert-color {
  color: white;
  background: $alert-color;
  padding: 0rem 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}